---

# sample config for zammad helper scripts

# the default locations the config is expected are:
# 'config.yml'
# 'config/config.yml'

## url
#  https://your.zammad.hostname/api/v1/
# baseurl:

## auth
# access required: admin, ticket.agent
# authtoken:
# authuser:
# authpass:

## do not verify ssl
#  verify: False
